@import '../../global.less';

.pokemon-type-component {
  width: 28px;
  height: 28px;
  background: transparent;

  .rounded(50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
